:root {
  /* Primary color shades */
  --clr-primary-1: rgb(20, 12, 116);
  --clr-primary-2: rgb(16, 78, 122);
  /* Secondary color shades */
  --clr-secondary: rgb(17, 3, 35);
  --clr-grey-1: rgb(171, 171, 171);
  --clr-grey-2: rgb(99, 99, 99);
  --clr-grey-3: rgb(36, 42, 61);
  /* White/black color shades */
  --clr-white: #ffffff;
  --clr-black: #000000;
  /* Primary and secondary font families */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  /* Commonly used CSS properties for consistency */
  --transition: color ease-in-out 0.3s;
  --spacing: 0.15rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* Glass morphism effect */
  --glass-background: rgba(255, 255, 255, 0.09);
  --glass-border: 1px solid rgba(255, 255, 255, 0.16);
  --glass-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  --glass-border-radius: 16px;
  --glass-blur: blur(4px);
}

.App {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-2);
  color: var(--clr-white);
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--clr-grey-1);
  transition: var(--transition);
  text-decoration: none;
  letter-spacing: var(--spacing);
  padding: 0.1rem;
}

a:hover,
a:hover i {
  color: var(--clr-primary-1);
  transition: var(--transition);
}

i {
  color: var(--clr-grey-1);
  font-size: 1rem;
  padding: 0.1rem;
}

i:hover {
  cursor: pointer;
  color: var(--clr-primary-1);
  transition: var(--transition);
}

.Content {
  background: var(--glass-background);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
  border: var(--glass-border);
  padding: 10px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--clr-white);
}
*::-webkit-scrollbar-thumb {
  background: var(--clr-grey-1);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--clr-grey-2);
}
